# Recess Supabase Credentials
# Copy this file to a new file named '.env' and specify your live Supabase credentials:

VITE_SUPABASE_URL=YOUR_SUPABASE_URL
VITE_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
